{% extends "base.html" %}
{% block content %}
<!-- Dashboard Buttons -->
<div class="dash-buttons">
    <div class="row justify-content-around">
        {% for button in assets1 %}
        <!-- col -->
        <div class="col-lg-1 col-md-3 col-3">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <p>{{ button.name }} | {{button.total}}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-around">
        {% for button in assets2 %}
        <!-- col -->
        <div class="col-lg-1 col-md-3 col-3">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <p>{{ button.name }} | {{button.total}}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Dashboard Buttons End -->
<div class="row">
    <div class="col-md-6 separation">
        <!-- left Table -->
        <div class="left-table">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="{% url 'dynamic-table' %}" method="POST" id="table-search1">{% csrf_token %}
                                <input type="text" name="country1" class="form-control" placeholder="search" />
                        </div>
                        <div class="col-md-3"><input type="submit" class="btn btn-info" value="search" /></div>
                        </form>
                    </div>
                </div>
                <div class="card-body p-0" style="height:300px;overflow: scroll;">
                    <table class="table table-bordered table-responsive table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Country</th>
                                <th scope="col">Population</th>
                                <th scope="col">cases</th>
                                <th scope="col">Deaths</th>
                                <th scope="col">Day</th>
                                <th scope="col">Time</th>
                                <th scope="col">Current Time</th>
                            </tr>
                        </thead>
                        <tbody class="dynamic-table1">
                            {% for row in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.country }}</td>
                                <td>{{ row.population }}</td>
                                <td>{{ row.cases }}</td>
                                <td>{{ row.deaths }}</td>
                                <td>{{ row.day }}</td>
                                <td>{{ row.time }}</td>
                                <td>{{ row.current_time }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!--Graph -->
        <div class="graph">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form action="{% url 'dynamic-graph' %}" method="POST" id="graph-form1">{% csrf_token %}
                                <select name="graph-options" class="form-control" style="padding: 0px;">
                                    <option value="cases">Cases</option>
                                    <option value="deaths">Deaths</option>
                                    <option value="population">Population</option>
                                </select>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="dynamic-graph1">
                        {% autoescape off %}
                        {{graph1}}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 separation">
        <!-- Right Table -->
        <div class="right-table">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="{% url 'dynamic-table' %}" method="POST" id="table-search2">{% csrf_token %}
                                <input type="text" name="country1" class="form-control" placeholder="search" />
                        </div>
                        <div class="col-md-3"><input type="submit" class="btn btn-info" value="search" /></div>
                        </form>
                    </div>
                </div>
                <div class="card-body p-0" style="height:300px;overflow: scroll;">
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Country</th>
                                <th scope="col">Population</th>
                                <th scope="col">cases</th>
                                <th scope="col">Deaths</th>
                                <th scope="col">Day</th>
                                <th scope="col">Time</th>
                                <th scope="col">Current Time</th>
                            </tr>
                        </thead>
                        <tbody class="dynamic-table2">
                            {% for row in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.country }}</td>
                                <td>{{ row.population }}</td>
                                <td>{{ row.cases }}</td>
                                <td>{{ row.deaths }}</td>
                                <td>{{ row.day }}</td>
                                <td>{{ row.time }}</td>
                                <td>{{ row.current_time }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!--Graph -->
        <div class="graph">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form action="{% url 'dynamic-graph' %}" method="POST" id="graph-form2">{% csrf_token %}
                                <select name="graph-options" class="form-control" style="padding: 0px;">
                                    <option value="cases">Cases</option>
                                    <option value="deaths">Deaths</option>
                                    <option value="population">Population</option>
                                </select>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="dynamic-graph2">
                        {% autoescape off %}
                        {{graph2}}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // handlling-graph
        $("#graph-form1").submit(function (event) {
            event.preventDefault();
            console.log("form submting......")
            var form = $("#graph-form1")
            $.ajax({
                url: "{% url 'dynamic-graph' %}",
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    $('.dynamic-graph1').html(response['graph']);
                },
            });
        });

        // handlling-graph2
        $("#graph-form2").submit(function (event) {
            event.preventDefault();
            var form = $("#graph-form2")
            $.ajax({
                url: "{% url 'dynamic-graph' %}",
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    $('.dynamic-graph2').html(response['graph']);
                },
            });
        });

        // dynamic table1
        $("#table-search1").submit(function (event) {
            event.preventDefault();
            var form = $("#table-search1")
            console.log("form submiting.....")
            $.ajax({
                url: "{% url 'dynamic-table' %}",
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    console.log(response)
                    $('.dynamic-table1').html(response);
                },
            });
        });

        // dynamic table2
        $("#table-search2").submit(function (event) {
            event.preventDefault();
            var form = $("#table-search2")
            $.ajax({
                url: "{% url 'dynamic-table' %}",
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    console.log(response)
                    $('.dynamic-table2').html(response);
                },
            });
        });


    });
</script>
{% endblock content %}