{% extends "base.html" %}
{% block content %}
<!-- Dashboard Buttons -->
<div class="dash-buttons">
    <div class="row justify-content-around" id="stream-buttons1"></div>
    <div class="row justify-content-around" id="stream-buttons2"></div>
</div>
<!-- Dashboard Buttons End -->
<div class="row">
    <div id="stream-data">
        <table class="table table-hover table-bordered">
            <thead>
                <tr id="stream-headers"></tr>
            </thead>
            <tbody id="stream-body">
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 separation">
        <!-- left Table -->
        <div class="left-table">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="{% url 'dynamic-table' %}" method="POST" id="table-search1">{% csrf_token %}
                                <input type="text" name="country1" class="form-control" placeholder="search" />
                        </div>
                        <div class="col-md-3"><input type="submit" class="btn btn-info" value="search" /></div>
                        </form>
                    </div>
                </div>
                <div class="card-body p-0" style="height:300px;overflow: scroll;">
                    <table class="table table-bordered table-responsive table-hover" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Country</th>
                                <th scope="col">Population</th>
                                <th scope="col">cases</th>
                                <th scope="col">Deaths</th>
                                <th scope="col">Day</th>
                                <th scope="col">Time</th>
                                <th scope="col">Current Time</th>
                            </tr>
                        </thead>
                        <tbody class="dynamic-table1">
                            {% for row in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.country }}</td>
                                <td>{{ row.population }}</td>
                                <td>{{ row.cases }}</td>
                                <td>{{ row.deaths }}</td>
                                <td>{{ row.day }}</td>
                                <td>{{ row.time }}</td>
                                <td>{{ row.current_time }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!--Graph -->
        <div class="graph">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form action="{% url 'dynamic-graph' %}" method="POST" id="graph-form1">{% csrf_token %}
                                <select name="graph-options" class="form-control" style="padding: 0px;">
                                    <option value="cases">Cases</option>
                                    <option value="deaths">Deaths</option>
                                    <option value="population">Population</option>
                                </select>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="dynamic-graph1">
                        {% autoescape off %}
                        {{graph1}}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 separation">
        <!-- Right Table -->
        <div class="right-table">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="{% url 'dynamic-table' %}" method="POST" id="table-search2">{% csrf_token %}
                                <input type="text" name="country1" class="form-control" placeholder="search" />
                        </div>
                        <div class="col-md-3"><input type="submit" class="btn btn-info" value="search" /></div>
                        </form>
                    </div>
                </div>
                <div class="card-body p-0" style="height:300px;overflow: scroll;">
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Country</th>
                                <th scope="col">Population</th>
                                <th scope="col">cases</th>
                                <th scope="col">Deaths</th>
                                <th scope="col">Day</th>
                                <th scope="col">Time</th>
                                <th scope="col">Current Time</th>
                            </tr>
                        </thead>
                        <tbody class="dynamic-table2">
                            {% for row in data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ row.country }}</td>
                                <td>{{ row.population }}</td>
                                <td>{{ row.cases }}</td>
                                <td>{{ row.deaths }}</td>
                                <td>{{ row.day }}</td>
                                <td>{{ row.time }}</td>
                                <td>{{ row.current_time }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!--Graph -->
        <div class="graph">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form action="{% url 'dynamic-graph' %}" method="POST" id="graph-form2">{% csrf_token %}
                                <select name="graph-options" class="form-control" style="padding: 0px;">
                                    <option value="cases">Cases</option>
                                    <option value="deaths">Deaths</option>
                                    <option value="population">Population</option>
                                </select>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                    </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="dynamic-graph2">
                        {% autoescape off %}
                        {{graph2}}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // handlling-graph
        $("#graph-form1").submit(function (event) {
            event.preventDefault();
            console.log("form submting......")
            var form = $("#graph-form1")
            $.ajax({
                url: "{% url 'dynamic-graph' %}",
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    $('.dynamic-graph1').html(response['graph']);
                },
            });
        });

        // handlling-graph2
        $("#graph-form2").submit(function (event) {
            event.preventDefault();
            var form = $("#graph-form2")
            $.ajax({
                url: "{% url 'dynamic-graph' %}",
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    $('.dynamic-graph2').html(response['graph']);
                },
            });
        });

        // dynamic table1
        $("#table-search1").submit(function (event) {
            event.preventDefault();
            var form = $("#table-search1")
            console.log("form submiting.....")
            $.ajax({
                url: "{% url 'dynamic-table' %}",
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    console.log(response)
                    $('.dynamic-table1').html(response);
                },
            });
        });

        // dynamic table2
        $("#table-search2").submit(function (event) {
            event.preventDefault();
            var form = $("#table-search2")
            $.ajax({
                url: "{% url 'dynamic-table' %}",
                type: "POST",
                data: form.serialize(),
                success: function (response) {
                    console.log(response)
                    $('.dynamic-table2').html(response);
                },
            });
        });

        $(".submit-asset").click(function (event) {
            // event.preventDefault();
            console.log("hey clicked the button")

        });


    });

    // Event source
    var eventSource = new EventSource("{% url 'stream' %}");

    eventSource.onopen = function () {
        console.log(' table event-stream its open?');
    }
    eventSource.onmessage = function (e) {
        final_data = JSON.parse(e.data)
        var thead = "";
        Object.keys(final_data[0]).forEach(function (item) {
            thead += `<th>${item}</th>`
        })
        document.getElementById("stream-headers").innerHTML = thead
        // console.log(thead)

        var tbody = ""
        final_data.forEach(function (item) {
            row = Object.values(item)
            tbody += "<tr>"
            row.forEach(function (item) {
                tbody += `<td>${item}</td>`
            })
            tbody += "</tr>"
        })
        document.getElementById("stream-body").innerHTML = tbody
    }

    // Event source dashboard butttons
    var eventSource = new EventSource("{% url 'dash-stream' %}");

    eventSource.onopen = function () {
        console.log(' dash event-stream its open?');
    }
    eventSource.onmessage = function (e) {
        final_data = JSON.parse(e.data)
        // console.log(final_data)
        var currentime = new Date();
        var timeremaining = 1000;
        //Event source dashboard butttons dashboard butttons first row
        buttons1 = ""
        final_data.slice(0, 10).forEach(function (item) {
            buttons1 += ` <div class="col-lg-1 col-md-3 col-3" data-toggle="modal" data-target="#${item.name}">
                            <!-- small box -->
                        <div class="small-box bg-danger">
                                <div class="inner">
                                    <p>${item.name} | ${item.total}</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="${item.name}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="${item.name}">Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        You Want to Submit ${item.name} ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">
                                            <a href="/asset/submit/${item.name}/${timeremaining}/"
                                                style="text-decoration: none; color: white;">submit</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `
        })
        document.getElementById("stream-buttons1").innerHTML = buttons1

        //Event source dashboard butttons dashboard butttons first row
        buttons2 = ""
        final_data.slice(10, 20).forEach(function (item) {
            // console.log(item)
            buttons2 += ` <div class="col-lg-1 col-md-3 col-3" data-toggle="modal" data-target="#${item.name}">
                                <!-- small box -->
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <p>${item.name} | ${item.total}</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-bag"></i>
                                    </div>
                                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                         </div>
                         <!-- Modal -->
                        <div class="modal fade" id="${item.name}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="${item.name}">Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        You Want to Submit ${item.name} ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">
                                            <a href="/asset/submit/${item.name}/${timeremaining}/"
                                                style="text-decoration: none; color: white;">submit</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                         `
        })
        document.getElementById("stream-buttons2").innerHTML = buttons2
    }
</script>
{% endblock content %}