<script>
    socket.onmessage = function (e) {
        var finaldata = [];
        var tr1 = "";
        var j;
        parseddata = JSON.parse(e.data);
        var totalcolumn = Object.keys(parseddata[0]).length;
        var totalrow = Object.keys(parseddata).length;
        //loop for append data in table1 header
        var thead1 = '';
        thead1 += '<tr>';
        for (i = 0; i < totalcolumn; i++) { thead1 += "<th>" + parseddata[0][i] + "</th>"; }
        thead1 += '<th>Graph</th><th>Region</th>'; thead1 += '</tr>';
        //loop for append data in table1 body //for (x inparseddata) {
        for (i = 1; i < totalrow; i++) { //var x=x+1; tr1 +='<tr>' ; for(j=0;j<totalcolumn;j++) { tr1 +="<td>" +
            parseddata[i][j] + "</td>";
        } tr1 += "<td><span class='getgraph' id=" + i + " data-toggle='modal'
        data - target='#centralModalLg' > <i style='color:red;cursor:pointer' title="+i+" class='fa fa-chart-line'></i>
    </span < /td>";
        tr1 += "<td>Delhi</td>";
        tr1 += '</tr>';
    }
    document.getElementById('submit2tablehead').innerHTML = thead1;
    document.getElementById('submit2tablebody').innerHTML = tr1;
    $('#submit2table').addClass('table table-striped table-bordered table-hover datatable');
    $('.table').attr('width', '100%');
    }
</script>


// final_data.forEach(function (item) {
// tbody += `<tr>
    // <td>${item.id}</td>
    // <td>${item.userid}</td>
    // <td>${item.asset_name}</td>
    // <td>${item.submittime}</td>
    // <td>${item.timeremaining}</td>
    // <td>${item.submitdate}</td>
    // <td>${item.submitdt}</td>
    // </tr>`

// })
// document.getElementById("stream-body").innerHTML = tbody



$.ajax({
type: "POST",
data: { assetvalue: assetvalue,type:'submitassetvalue' },
url: "....",
success: function(data){
window.setTimeout(function () {
$("#msg").html('You just submitted <b>'+assetvalue+'</b>');